body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 2vh;
    margin: 0;
    
    background-color: #FCFFE7;
  }
  
header {
  background-color: #2B3467;
  color: white;
  padding: 2em;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav {
  background-color: #00FAAC;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  flex-grow: 1;
  text-align: center;
  border-right: #2B3467;
  border-right-width: 1px;
  border-right-style: solid;
}

nav a {
  color: #2B3467;
  display: block;
  padding: 5px;
  text-decoration: none;
  padding: 1vh;
}

nav a:hover,
nav a:active {
  background-color: #FF06B7;
  color: #FCFFE7;
}

#navbar{
  overflow: hidden;
}

.sticky{
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content{
  padding-top: 60px;
}

h2{
  background-color: #FF06B7;
  color: #2B3467;
  text-align: center;
  padding: 1em;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

main{
  color: #2B3467;
  padding: 1em;
  padding: 1vh;
}


/* Contents */
summary{
  padding: 15px;
}

#parcours{
  font-weight: bold;
}

footer{
  background-color: #2B3467;
  color: white;
  padding: 2vh;
}


/* EB455F
FCFFE7
BAD7E9
2B3467
00FAAC neon
FF06B7 pink */
